extends layout.pug

block main
  header
    include navigation.pug
    h1 Biography
  section.section
    p The Trent Cowie Band is a country band with its roots in southeast Texas. Hailing from Magnolia Texas, the four-piece band boasts a unique sound of country music with a twist of southern rock. Trent Cowie formed the band with Drummer Jake Taylor in early 2018 after leaving a previous project. It wasn’t until later in July that lead guitarist Josh Kimich and bassist Oscar Mata claimed their permanent spots with the band. They began playing the southeastern Texas music circuit. The band has played all kinds of shows including festivals, private events, local listening room venues, and bars. Trent Cowie’s writing style is influenced by writers like Tom Petty, Townes Van Zandt, Casey Donahew, and William Clark Green. This diverse inspiration combined with the band members’ early 90’s country and rock background makes for a recognizable flavor in today’s Texas country music.