html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    link(rel="stylesheet", href="/stylesheets/style.css")
    title= title
  body
    main
      block main
    script.
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1859407347500149',
          xfbml      : true,
          version    : 'v3.1'
        });
      
        FB.AppEvents.logPageView();
      
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));