ul.social-media
  li.social-media--link.social-media--link--facebook
    a(href='facebook')
      img(src='/images/facebook.svg' alt='Trent Cowie Band Facebook Page')
  li.social-media--link.social-media--link--instagram
    a(href='instagram')
      img(src='/images/instagram.svg' alt='Trent Cowie Band instagram')
  li.social-media--link.social-media--link--twitter
    a(href='twitter')
      img(src='/images/twitter.svg' alt='Trent Cowie Band Twitter Account')
  li.social-media--link.social-media--link--youtube
    a(href='youtube')
      img(src='/images/youtube.svg' alt='Trent Cowie Band Youtube Channel')