ul.social-media
  li.social-media--link.social-media--link--facebook
    a(target="_blank" href='https://www.facebook.com/trentcowieband')
      img(src='/images/facebook.svg' alt='Trent Cowie Band Facebook Page')
  li.social-media--link.social-media--link--instagram
    a(target="_blank" href='https://www.instagram.com/trentcowie/')
      img(src='/images/instagram.svg' alt='Trent Cowie Band instagram')
  li.social-media--link.social-media--link--twitter
    a(target="_blank" href='https://twitter.com/trentcowie')
      img(src='/images/twitter.svg' alt='Trent Cowie Band Twitter Account')
  li.social-media--link.social-media--link--youtube
    a(target="_blank" href='https://youtube.com/channel/UCpBNooNfQLSjyJBJ9aZSdYA')
      img(src='/images/youtube.svg' alt='Trent Cowie Band Youtube Channel')